.text{
    text-align: center;
    padding-top: 128px;
    color:beige;
}
#Header2{
    font-size: 80px;
    margin-bottom: 224px;
}
#Header1{
    margin-bottom: -70px;
}
.about-me{
    margin-top: 150px;
    font-size: 44px;
    text-align: center;
}

.about{
    
    text-align: center;
    margin-left: 134px;
    margin-right: 134px;
}