.projects{
    height: 600px;
    background-color: rgba(70,71,187,255);
    padding: 0% 10% 40% 10%;
   
}
.projects-text p:nth-child(1){
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 25px;
    line-height: 0px;
    font-weight: bold;
    line-height: 90px;
    text-align: center;
    align-items: center;
}
.projects-text p:nth-child(2){
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    color: white;
    align-items: center;
    text-align: justify;
}
.projects-text{
    width: 500px;
    margin: 50px 360px;
    align-items: center;
}
.box-1,.box-2,.box-3{
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.333);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.box-container{
    display: flex;
    justify-content: space-between;
    /* text-align: justify; */
}
.box-1{
    background-color: white;
}
.box-2{
    background-color: white;
}
.box-3{
    background-color: white;
}
.box-1 p:nth-child(1),
.box-2 p:nth-child(1),
.box-3 p:nth-child(1){
    color: black;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 20px;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
    color: black;
    font-family: 'Barlow', sans-serif;
    width: 230px;
    margin: 0px 0px 20px 0px;
    text-align: center;
    line-height: 20px;
}
.box-1 button,
.box-2 button,
.box-3 button{
    width: 100px;
    height: 30px;
    background-color: rgb(67, 19, 228);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
   
}
.diff{
    height: 600px;
    padding: 4% 10% 40px 10%;
}
.diff-text p:nth-child(1){
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 25px;
    line-height: 0px;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
    align-items: center;
}
.diff-text p:nth-child(2){
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    color: black;
    align-items: center;
    text-align: justify;
}
.diff-text{
    width: 500px;
    margin: 50px 360px;
    align-items: center;
}
.grid-container{
    font-family: 'Barlow', sans-serif;
    display: grid;
    height: 300px;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    /* background-color: #2196F3; */
    padding: 10px;
}
.grid-item{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    font-family: 'Barlow', sans-serif;
}

.my-skills{
    height: 600px;
    padding: 0% 10% 40% 10%;
}
.my-skills p:nth-child(1){
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 25px;
    line-height: 0px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    align-items: center;
}
.my-skills p:nth-child(2){
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    color: black;
    align-items: center;
    text-align: justify;
}
.my-skills-text{
    width: 500px;
    margin: 50px 360px;
    align-items: center;
}

* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 0px;
  padding-bottom: 0px;
  color: white;
}

.js {width: 85%; background-color: blue;}
.react {width: 80%; background-color: blue;}
.html {width: 70%; background-color: blue;}
.css {width: 75%; background-color: blue;}

 .cl{
    margin-top: 425px;
    font-size: 54px;
    text-align: center;
}

.bl{
    font-size: 24px;
    text-align: center;
    margin-left: 134px;
    margin-right: 134px;
}
.lr {
    background-color:  rgba(70,71,187,255);
    font-size: 34px;
    color: white;
    align-items: center;
    margin-top: 10px;
    }


.dl{
    font-size: 34px;
    text-align: center;
    padding-bottom: 134px;
    padding-top:142px
    
}    
.el,.el2{
    width: 500px;
    margin: 50px 360px;
    align-items: center;
    font-size:14px;
}

.el{
    align-self: left;
}

